@use "../variables" as *;

#ingame_HUD_BetaOverlay {
    position: fixed;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    color: $colorRedBright;
    @include Heading;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        @include PlainText;
    }

    span {
        color: #555;
        @include SuperSmallText;
    }
}
