@use "../variables" as *;

#ingame_HUD_BlueprintPlacer {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    z-index: 9999;
    background: $ingameHudBg;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 12rem;
    align-items: center;
    justify-content: center;
    border-radius: $globalBorderRadius;

    .label {
        @include PlainText;
        text-transform: uppercase;
    }
    .costContainer {
        display: flex;
        align-items: center;
        @include Heading;

        > canvas {
            margin-left: 0.5rem;
            width: 3rem;
            height: 3rem;
        }
    }

    &:not(.canAfford) {
        background: rgba(98, 27, 41, 0.8);
        // .costContainer {
        color: rgb(255, 97, 128);
        // }
    }
}
