@use "sass:color";

#ingame_HUD_PlacementHints {
    position: fixed;
    top: 6rem;
    right: 1rem;

    display: grid;

    padding: 0.6rem;
    border-radius: $globalBorderRadius;
    width: 24rem;
    grid-column-gap: 0.5rem;

    background: $ingameHudBg;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;

    // @include DarkThemeOverride {
    //     // background-color: #55585a;
    // }

    transition: opacity 0.1s ease-out;
    &.hovered {
        opacity: 0.1;
        .buildingImage {
            opacity: 0;
        }
    }

    .buildingLabel {
        @include PlainText;
        margin-bottom: 0.2rem;
        color: #fff;
        text-transform: uppercase;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .description {
        color: #bbb;
        @include SuperSmallText;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: grid;
        grid-template-rows: 1fr auto;

        strong {
            color: #fff;
        }
    }

    .additionalInfo {
        display: grid;
        grid-template-columns: auto 1fr;

        label {
            color: color.adjust($colorGreenBright, $lightness: 10, $space: hsl);
            font-weight: bold;
            margin-right: 0.5rem;
        }
    }

    .hotkey {
        color: color.adjust($colorGreenBright, $lightness: 10, $space: hsl);
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;

        kbd {
            position: relative;
            margin-left: 0.5rem;
        }
    }

    .buildingImage {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        width: 10rem;
        height: 10rem;
        background: top left / 100% 100% no-repeat;
        border-radius: $globalBorderRadius;
        transition: opacity 0.1s ease-in-out;
    }

    @include StyleBelowWidth(700px) {
        display: none !important;
    }

    &.compact {
        width: unset !important;
        grid-template-columns: 1fr;
        .buildingImage,
        .description > .text {
            display: none;
        }
    }
}

#ingame_HUD_PlacerVariants {
    position: absolute;
    right: 1rem;
    top: 20rem;
    display: flex;
    grid-gap: 0.5rem;
    flex-direction: column;
    align-items: flex-end;

    &.compact {
        top: 15rem;
    }

    .explanation {
        text-transform: uppercase;
        grid-row: 1 / 2;
        @include SuperSmallText;
        text-align: right;
        font-weight: bold !important;

        @include DarkThemeOverride {
            color: rgba(#fff, 0.5);
        }
    }

    .variants {
        display: grid;
        grid-gap: 0.5rem;

        .variant {
            pointer-events: all;
            cursor: pointer;

            grid-row: 2 / 3;
            border-radius: $globalBorderRadius;
            background: rgba($ingameHudBg, 0.5);
            opacity: 0.5;
            display: inline-flex;
            vertical-align: top;
            position: relative;
            align-items: center;
            padding: 0.3rem;
            grid-gap: 1rem;

            transition: background-color 0.12s ease-in-out;

            &:hover:not(.active) {
                background: rgba($colorBlueBright, 0.8);
                opacity: 1;
            }

            &.active {
                opacity: 1;
                background-color: rgba($colorBlueBright, 0.8);
            }

            $iconSize: 2.5rem;

            .iconWrap {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                position: relative;
                width: $iconSize;
                height: $iconSize;
                background: center center / contain no-repeat;

                &[data-tile-w="2"] {
                    width: 2 * $iconSize;
                }
                &[data-tile-h="2"] {
                    height: 2 * $iconSize;
                }
                &[data-tile-h="3"] {
                    height: 3 * $iconSize;
                }
                &[data-tile-w="3"] {
                    width: 3 * $iconSize;
                }
                &[data-tile-w="4"] {
                    width: 4 * $iconSize;
                }
            }

            .label {
                display: none;
                grid-column: 2 / 3;
                text-transform: uppercase;
                grid-row: 1 / 2;
                @include SuperSmallText;
                color: #fff;
            }
        }
    }
}
