@use "../mixins" as *;
@use "../variables" as *;

#ingame_HUD_ColorBlindBelowTileHelper {
    position: absolute;

    @include SuperSmallText;
    color: #fff;
    background: $ingameHudBg;
    padding: 0.5rem;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;

    &:not(.visible) {
        display: none;
    }

    @include DarkThemeInvert;
}
