@use "../variables" as *;

#ingame_HUD_EntityDebugger {
    position: absolute;
    background: $ingameHudBg;
    padding: 0.5rem;
    right: 3rem;

    top: 50%;
    transform: translateY(-50%);

    @include SuperSmallText;
    color: #eee;
    display: flex;
    flex-direction: column;

    > label {
        text-transform: uppercase;
    }

    .hint {
        color: #aaa;
    }

    &,
    * {
        pointer-events: all;
    }

    .propertyTable {
        margin-top: 0.8rem;
    }

    .propertyTable,
    .entityComponents,
    .entityComponents .object > div {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 1rem;
    }

    .entityComponents {
        grid-column: 1 / 3;
        margin-top: 0.5rem;

        font-family: "Roboto Mono", "Fira Code", monospace;
        font-size: 90%;
        letter-spacing: -0.05rem;

        label,
        span {
            line-height: 1.5em;

            &:not(span) {
                opacity: 0.5;
            }
        }
        &,
        * {
            @include SuperSmallText;
            font-size: 0.7rem !important;
            line-height: 1.2rem !important;
        }

        .object {
            grid-column: 1 / 3;
            line-height: 1.5em;

            > summary {
                transition: opacity 0.1s ease-in-out;
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                }
            }
            > div {
                margin-left: 0.4rem;
                cursor: pointer;
            }
        }
    }
}
