#ingame_HUD_KeybindingOverlay {
    position: absolute;
    top: 1rem;
    left: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #333438;
    backdrop-filter: blur(0.1rem);
    padding: 0.3rem;

    @include DarkThemeOverride {
        color: #fff;
    }

    transition: opacity 0.1s ease-out;
    &.hovered {
        opacity: 0.1;
    }

    > .binding {
        &:not(.visible) {
            display: none !important;
        }

        display: inline-grid;
        @include PlainText;
        align-items: center;
        margin-bottom: 0.3rem;
        grid-auto-flow: column;
        grid-gap: 0.2rem;

        i {
            display: inline-block;
            height: 1rem;
            width: 1px;
            margin: 0 0.3rem;
            background-color: #fff;
            transform: rotate(10deg);
            // margin: 0  .3rem;
        }

        kbd {
            position: relative;
            top: unset;
            left: unset;
            margin: 0;

            &.rightMouse {
                /* @load-async */
                background: #fff uiResource("icons/mouse_right.png") center center / 85% no-repeat;
            }

            &.leftMouse {
                /* @load-async */
                background: #fff uiResource("icons/mouse_left.png") center center / 85% no-repeat;
            }
        }

        label {
            color: #333438;
            @include SuperSmallText;
            text-transform: uppercase;
            // color: #fff;
            @include DarkThemeOverride {
                color: #fff;
            }

            margin-left: 0.5rem;
        }
    }
}

body.uiHidden #ingame_HUD_KeybindingOverlay .binding:not(.hudToggle) {
    display: none;
}
