@use "../mixins" as *;
@use "../variables" as *;

#ingame_HUD_Notifications {
    position: absolute;
    bottom: 6rem;
    right: 1rem;

    .notification {
        background: rgba(#333438, 0.8);
        border-radius: $globalBorderRadius;
        margin-top: 0.3rem;
        color: #fff;
        @include SuperSmallText;
        padding: 0.7rem 1rem;
        width: 15rem;

        @include DarkThemeOverride {
            background-color: rgba(#55595d, 0.8);
        }

        &[data-icon] {
            background-position-x: 0.8rem;
            background-position-y: center;
            padding-left: 3.5rem;
            background-repeat: no-repeat;
            background-size: 1.5rem;
        }

        transform-origin: 100% 50%;
        opacity: 0;
        @include InlineAnimation(3s ease-in-out) {
            0% {
                opacity: 1;
            }

            87% {
                opacity: 1;
                transform: scale(1);
            }
            95% {
                transform: scale(1.05);
            }

            100% {
                opacity: 0;
                transform: scale(0.5);
            }
        }
    }
}
