@use "../mixins" as *;
@use "../ui_resource" as *;
@use "../variables" as *;

#ingame_HUD_PinnedShapes {
    position: absolute;
    left: 0.9rem;
    top: 15rem;
    @include PlainText;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    > .shape {
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 0.4rem;
        color: #333438;

        &.removable {
            pointer-events: all;
        }

        > canvas {
            width: 2.5rem;
            height: 2.5rem;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            pointer-events: none;
            z-index: 20;
            position: relative;
        }

        > .amountLabel,
        > .goalLabel {
            margin-left: 0.5rem;
            @include SuperSmallText;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            grid-column: 2 / 3;
            height: 0.9rem;

            @include DarkThemeOverride {
                color: #eee;
            }
        }

        > .goalLabel {
            font-size: 0.7rem;
            opacity: 0.9;
            align-self: start;
            justify-self: start;
            font-weight: normal;
            grid-row: 2 / 3;
        }

        > .amountLabel {
            align-self: end;
            justify-self: start;
            grid-row: 1 / 2;
        }

        > .infoButton {
            width: 0.8rem;
            height: 0.8rem;
            position: absolute;
            opacity: 0.7;
            top: 1.3rem;
            left: -0.7rem;
            @include DarkThemeInvert;
            transition: opacity 0.12s ease-in-out;
            z-index: 100;

            &:hover {
                opacity: 0.8;
            }

            & {
                /* @load-async */
                background: uiResource("icons/info_button.png") center center / 95% no-repeat;
            }
        }

        > .unpinButton {
            width: 0.8rem;
            height: 0.8rem;
            position: absolute;
            opacity: 0.7;
            top: 0.3rem;
            left: -0.7rem;
            @include DarkThemeInvert;
            transition: opacity 0.12s ease-in-out;
            z-index: 100;

            &:hover {
                opacity: 0.8;
            }

            & {
                /* @load-async */
                background: uiResource("icons/unpin_shape.png") center center / 80% no-repeat;
            }
        }

        &.goal,
        &.blueprint {
            .amountLabel::after {
                content: " ";
                position: absolute;
                display: inline-block;
                width: 0.8rem;
                height: 0.8rem;
                top: 0.4rem;
                left: -0.7rem;
                background: center center / contain no-repeat;
            }

            &.goal .amountLabel {
                &::after {
                    /* @load-async */
                    background-image: uiResource("icons/current_goal_marker.png");
                    background-size: 90%;
                }
                @include DarkThemeOverride {
                    &::after {
                        /* @load-async */
                        background-image: uiResource("icons/current_goal_marker_inverted.png") !important;
                    }
                }
            }

            &.blueprint .amountLabel {
                &::after {
                    /* @load-async */
                    background-image: uiResource("icons/blueprint_marker.png");
                    background-size: 90%;
                }
                @include DarkThemeOverride {
                    &::after {
                        /* @load-async */
                        background-image: uiResource("icons/blueprint_marker_inverted.png") !important;
                    }
                }
            }
        }

        &.completed {
            opacity: 0.5;
        }
    }
}
