#ingame_HUD_PuzzlePlaySettings {
    position: absolute;
    background: $ingameHudBg;
    padding: 1rem;
    bottom: 6rem;
    left: 1rem;

    @include SuperSmallText;
    color: #eee;
    display: flex;
    flex-direction: column;
    border-radius: $globalBorderRadius;

    > .section {
        display: grid;
        grid-gap: 0.5rem;
        grid-auto-flow: row;

        > button {
            @include SuperSmallText;
        }
    }
}
