@use "../mixins" as *;
@use "../ui_resource" as *;
@use "../variables" as *;

#ingame_HUD_PuzzleBackToMenu {
    position: absolute;
    top: 1rem;
    left: 0rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(0.1rem);
    padding: 0.3rem;

    > .button {
        @include PlainText;
        pointer-events: all;
        cursor: pointer;
        position: relative;
        color: #333438;
        transition: all 0.12s ease-in-out;
        transition-property: opacity, transform;
        text-transform: uppercase;
        @include PlainText;
        width: 3rem;
        height: 3rem;

        @include DarkThemeInvert;

        opacity: 1;
        &:hover {
            opacity: 0.9 !important;
        }

        &.pressed {
            transform: scale(0.95) !important;
        }

        & {
            /* @load-async */
            background: uiResource("icons/state_back_button.png") center center / 1.5rem no-repeat;
        }
    }
}
