@use "../mixins" as *;
@use "../ui_resource" as *;
@use "../variables" as *;

#ingame_HUD_PuzzleCompleteNotification {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & {
        /* @load-async */
        background: rgba(#333538, 0.95) uiResource("dialog_bg_pattern.png") top left / 1rem repeat;
    }

    @include InlineAnimation(0.1s ease-in-out) {
        0% {
            opacity: 0;
        }
    }

    > .dialog {
        // background: rgba(#222428, 0.5);
        border-radius: $globalBorderRadius;
        padding: 3rem;

        @include InlineAnimation(0.5s ease-in-out) {
            0% {
                opacity: 0;
            }
        }

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        text-align: center;

        > .title {
            @include SuperHeading;
            text-transform: uppercase;
            font-size: 3rem;
            margin-bottom: 4rem;
            color: $colorGreenBright !important;

            @include InlineAnimation(0.5s ease-in-out) {
                0% {
                    transform: translateY(-50vh);
                }
                50% {
                    transform: translateY(5vh);
                }
                75% {
                    transform: translateY(-2vh);
                }
            }
        }

        > .contents {
            @include InlineAnimation(0.5s ease-in-out) {
                0% {
                    transform: translateX(-100vw);
                }
                50% {
                    transform: translateX(5vw);
                }

                75% {
                    transform: translateX(-2vw);
                }
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            > .stepLike {
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
                @include SuperSmallText;

                > .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 1rem 0;

                    > button {
                        width: 6rem;
                        height: 6rem;
                        margin: 0 1rem;
                        box-sizing: border-box;
                        border-radius: 50%;
                        transition:
                            opacity 0.12s ease-in-out,
                            background-color 0.12s ease-in-out;

                        &.liked-yes {
                            /* @load-async */
                            background: uiResource("icons/puzzle_action_liked_yes.png") center 55% / 60%
                                no-repeat;
                        }

                        &:hover:not(.active) {
                            opacity: 0.5 !important;
                        }

                        &.active {
                            background-color: $colorRedBright !important;
                            @include InlineAnimation(0.3s ease-in-out) {
                                0% {
                                    transform: scale(0);
                                }
                                50% {
                                    transform: scale(1.2);
                                }
                                100% {
                                    transform: scale(1);
                                }
                            }
                        }
                        &:not(.active) {
                            opacity: 0.4;
                        }
                    }
                }
            }

            > .buttonBar {
                display: flex;
                margin-top: 2rem;

                button.continue {
                    background: #555;
                }

                button.menu {
                    background: #555;
                }

                button.nextPuzzle {
                    background-color: $colorGreenBright;
                }

                > button {
                    min-width: 10rem;
                    padding: 0.8rem 1.6rem;
                    margin: 0 0.6rem;
                }
            }

            > .actions {
                position: absolute;
                bottom: 4rem;

                display: grid;
                grid-gap: 1.5rem;
                grid-auto-flow: column;

                button {
                    @include SuperSmallText;
                }
                .report {
                    background-color: $accentColorDark;
                }
            }
        }
    }
}
