@use "../variables" as *;

#ingame_HUD_PuzzleEditorSettings {
    position: absolute;
    background: $ingameHudBg;
    padding: 1rem;
    bottom: 6rem;
    left: 1rem;

    @include SuperSmallText;
    color: #eee;
    display: flex;
    flex-direction: column;
    border-radius: $globalBorderRadius;

    > .section {
        > label {
            text-transform: uppercase;
        }

        .plusMinus {
            margin-top: 0.5rem;
            display: grid;
            grid-template-columns: 1fr auto auto auto;
            align-items: center;
            grid-gap: 0.5rem;

            label {
                margin-right: 1rem;
            }

            button {
                @include PlainText;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.5rem;
                height: 1.5rem;
            }

            .value {
                text-align: center;
                min-width: 1.5rem;
            }
        }

        > .buttons {
            > .buttonBar {
                display: flex;
                align-items: center;
                margin-top: 1rem;
                > button {
                    margin-right: 0.4rem;
                    @include SuperSmallText;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            > .buildingsButton {
                display: grid;
                align-items: center;
                margin-top: 0.4rem;
                > button {
                    @include SuperSmallText;
                }
            }
        }
    }
}
