@use "../mixins" as *;
@use "../ui_resource" as *;
@use "../variables" as *;

@use "sass:color";

#ingame_HUD_PuzzlePlayMetadata {
    position: absolute;

    top: 7rem;
    left: 1rem;

    display: flex;
    flex-direction: column;
    width: 20rem;

    > .info {
        display: flex;
        flex-direction: column;
        @include SuperSmallText;
        margin-bottom: 0.5rem;

        > label {
            text-transform: uppercase;
            @include SuperDuperSmallText;
            color: $accentColorDark;
        }
        > span {
            display: flex;
            color: color.adjust($accentColorDark, $lightness: -25%, $space: hsl);
            @include SuperSmallText;
            @include DarkThemeOverride {
                color: color.adjust($accentColorDark, $lightness: 15%, $space: hsl);
            }
        }
    }

    > .plays {
        display: flex;
        align-items: center;
        justify-self: end;
        align-self: end;
        flex-direction: row;
        margin-bottom: 1rem;
        opacity: 0.8;
        @include DarkThemeInvert;
        @include DarkThemeOverride {
            opacity: 0.8;
        }

        > .downloads {
            @include SuperSmallText;
            color: #000;
            align-self: start;
            justify-self: start;
            font-weight: bold;
            margin-right: 1rem;
            padding-left: 1.4rem;
            opacity: 0.7;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            & {
                /* @load-async */
                background: uiResource("icons/puzzle_plays.png") 0.2rem center / 0.8rem 0.8rem no-repeat;
            }
        }

        > .likes {
            @include SuperSmallText;
            align-items: center;
            justify-content: center;
            color: #000;
            align-self: start;
            justify-self: start;
            font-weight: bold;
            padding-left: 1.4rem;
            opacity: 0.7;
            & {
                /* @load-async */
                background: uiResource("icons/puzzle_upvotes.png") 0.2rem center / 0.8rem 0.8rem no-repeat;
            }
        }
    }

    > .key {
        button {
            margin-top: 0.2rem;
        }
    }

    button {
        @include SuperSmallText;
        align-self: start;
        min-width: 5rem;

        &.report {
            background-color: $accentColorDark;
            @include SuperDuperSmallText;
        }
    }

    > .buttons {
        display: flex;
        flex-direction: column;

        > button {
            margin-bottom: 0.4rem;
        }
    }
}

#ingame_HUD_PuzzlePlayTitle {
    position: absolute;

    top: 1.8rem;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    @include Heading;
    text-align: center;

    display: flex;
    flex-direction: column;

    > .name {
        @include PlainText;
        opacity: 0.5;
    }

    @include DarkThemeOverride {
        color: #eee;
    }
}
