@use "../variables" as *;

#ingame_HUD_SandboxController {
    position: absolute;
    background: $ingameHudBg;
    padding: 0.5rem;
    bottom: 1rem;
    left: 1rem;

    @include SuperSmallText;
    color: #eee;
    display: flex;
    flex-direction: column;

    > label {
        text-transform: uppercase;
    }

    .sandboxHint {
        color: #aaa;
    }

    .plusMinus {
        margin-top: 0.4rem;
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
        grid-gap: 0.4rem;

        button {
            @include PlainText;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .additionalOptions {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        button {
            margin-bottom: 0.2rem;
            @include SuperSmallText;
        }
    }
}
