@use "../ui_resource" as *;
@use "../variables" as *;

#ingame_HUD_SettingsMenu {
    .statsElement {
        position: absolute;
        left: 3rem;
        right: 3rem;
        bottom: 3rem;
        color: #fff;
        display: grid;
        grid-template-rows: auto auto;
        grid-auto-columns: 1fr;
        place-items: center;

        strong {
            text-transform: uppercase;
            @include PlainText;
            opacity: 0.5;
            grid-row: 1;
        }

        span {
            @include Heading;
            grid-row: 2;
        }
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .buttons {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 5rem;
        margin-top: -1rem;

        button {
            background: transparent;
            filter: invert(1);

            content: "";
            opacity: 0.8;
            width: 3.5rem;
            height: 3.5rem;

            &.settings {
                /* @load-async */
                background-image: uiResource("icons/settings_menu_settings.png");
            }

            &.menu {
                /* @load-async */
                background-image: uiResource("icons/settings_menu_exit.png");
            }

            &:hover {
                opacity: 0.6;
            }

            & {
                /* @load-async */
                background: uiResource("icons/settings_menu_play.png") center top / contain no-repeat;
            }
        }
    }
}
