@use "../mixins" as *;
@use "../ui_resource" as *;
@use "../variables" as *;

@use "sass:color";

#ingame_HUD_Shop {
    .content {
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        width: 50rem;

        .upgrade {
            display: grid;
            grid-template-columns: auto 1fr auto;
            background: #eee;
            border-radius: $globalBorderRadius;
            margin-bottom: 0.4rem;
            padding: 0.5rem 1rem;
            grid-row-gap: 0.1rem;
            height: 8.5rem;
            grid-template-rows: #{2rem} auto;

            &:last-child {
                margin-bottom: 0;
            }

            @include DarkThemeOverride {
                background: $darkModeControlsBackground;
            }

            .title {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                @include PlainText;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                justify-content: flex-end;

                @include DarkThemeOverride {
                    color: #fff;
                }

                .tier {
                    margin-right: 0.9rem;
                    background: $colorGreenBright;
                    border-radius: $globalBorderRadius;
                    text-transform: uppercase;
                    @include PlainText;
                    color: #fff;
                    text-align: center;
                    font-weight: bold;
                    min-width: 5rem;
                    padding: 0rem 0.5rem;

                    &[data-tier="0"] {
                        background-color: rgb(73, 186, 190);
                    }
                    &[data-tier="1"] {
                        background-color: rgb(88, 110, 207);
                    }
                    &[data-tier="2"] {
                        background-color: rgb(189, 100, 192);
                    }
                    &[data-tier="3"] {
                        background-color: rgb(117, 192, 98);
                    }
                    &[data-tier="4"] {
                        background-color: rgb(243, 77, 48);
                    }
                    &[data-tier="5"] {
                        background-color: rgb(255, 209, 6);
                    }
                    &[data-tier="6"] {
                        background-color: rgb(44, 41, 46);
                    }
                }
            }

            .icon {
                width: 4rem;
                height: 4rem;
                background: center center / 80% no-repeat;
                align-self: center;
                justify-self: center;
                grid-column: 1 / 2;
                grid-row: 2 / 4;
                margin-right: 3rem;
                margin-left: 1rem;
                opacity: 0.32;
                display: none;
            }

            .description {
                grid-column: 2 / 4;
                grid-row: 1 / 2;
                @include PlainText;
                color: #aaa;
                align-self: start;
                justify-self: end;
            }

            .requirements {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
                display: grid;
                grid-auto-flow: column;
                grid-gap: 0.9rem;
                justify-content: start;

                .requirement {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 7rem;
                    overflow: hidden;

                    button.pin {
                        & {
                            /* @load-async */
                            background: uiResource("icons/pin.png") center center / 95% no-repeat;
                        }

                        width: 1.2rem;
                        height: 1.2rem;
                        position: absolute;
                        top: 0.2rem;
                        right: 0.2rem;
                        opacity: 0.6;
                        cursor: pointer;
                        pointer-events: all;
                        transition: opacity 0.12s ease-in-out;

                        @include DarkThemeInvert;

                        $disabledOpacity: 0.6;
                        $enabledOpacity: 0.6;

                        &:hover {
                            opacity: $enabledOpacity + 0.1;
                        }

                        &.alreadyPinned {
                            opacity: $disabledOpacity !important;

                            &:hover {
                                opacity: $disabledOpacity + 0.1 !important;
                            }
                        }

                        &.isGoal {
                            /* @load-async */
                            background: uiResource("icons/current_goal_marker.png") center center / 95%
                                no-repeat;
                            opacity: $disabledOpacity !important;
                            cursor: default;
                            pointer-events: none;
                        }

                        &.pinned {
                            opacity: $disabledOpacity;

                            & {
                                /* @load-async */
                                background: uiResource("icons/unpin_shape.png") center center / 75% no-repeat !important;
                            }

                            @include InlineAnimation(0.3s ease-in-out) {
                                0% {
                                    opacity: 1;
                                    transform: scale(0.8);
                                }

                                30% {
                                    opacity: 1;
                                    transform: scale(1.2);
                                }

                                100% {
                                    transform: scale(1);
                                }
                            }
                            &:hover {
                                opacity: $disabledOpacity + 0.1;
                            }
                        }

                        &.unpinned {
                            opacity: $enabledOpacity;
                            @include InlineAnimation(0.3s ease-in-out) {
                                0% {
                                    opacity: 1;
                                    transform: scale(0.8);
                                }

                                30% {
                                    opacity: 1;
                                    transform: scale(1.2);
                                }

                                100% {
                                    transform: scale(1);
                                }
                            }
                            &:hover {
                                opacity: $enabledOpacity + 0.1;
                            }
                        }
                    }

                    button.showInfo {
                        width: 1.1rem;
                        height: 1.1rem;
                        position: absolute;
                        top: 1.7rem;
                        right: 0.25rem;
                        opacity: 0.5;
                        cursor: pointer;
                        pointer-events: all;
                        transition: opacity 0.12s ease-in-out;
                        @include DarkThemeInvert;

                        &:hover {
                            opacity: 0.6;
                        }
                    }
                    button.showInfo {
                        /* @load-async */
                        background: uiResource("icons/info_button.png") center center / 95% no-repeat;
                    }

                    canvas {
                        width: 4rem;
                        height: 4rem;
                    }

                    .amount {
                        margin-top: 0.4rem;
                        z-index: 10;
                        @include SuperSmallText;
                        background: #e2e4e6;

                        line-height: 1.3rem;
                        border-radius: $globalBorderRadius;
                        padding: 0.1rem 0 0.2rem;
                        position: relative;
                        text-align: center;
                        min-width: 5rem;
                        // max-width: 10.0rem;
                        overflow: hidden;
                        width: 100%;

                        @include DarkThemeOverride {
                            background: #333438;
                            color: #fff;
                        }

                        .progressBar {
                            bottom: 0;
                            left: 0;
                            right: 0;
                            top: 0;
                            border-radius: $globalBorderRadius;
                            position: absolute;
                            display: inline-block;
                            z-index: -1;
                            transition: all 0.2s ease-in-out;
                            transition-property: width, background-color;
                            background: #bdbfca;

                            @include DarkThemeOverride {
                                background: #8c8d96;
                            }

                            &.complete {
                                background-color: $colorGreenBright;

                                @include DarkThemeOverride {
                                    background-color: $colorGreenBright;
                                }
                            }
                        }
                    }
                }
            }

            button.buy {
                grid-column: 3 / 4;
                grid-row: 3 / 4;
                align-self: center;
                justify-self: end;
                // padding: .4rem  .5rem;
                // @include PlainText;
                background-color: $colorGreenBright;
                color: #fff;

                transition: all 0.2s ease-in-out;
                transition-property: background-color, opacity;

                &:not(.buyable) {
                    background-color: #aaa;
                    cursor: default;
                    pointer-events: none;
                    opacity: 0.3;
                }

                &.buyable {
                    @include InlineAnimation(1s ease-in-out infinite) {
                        0% {
                        }

                        50% {
                            background-color: color.adjust($colorGreenBright, $lightness: 10%, $space: hsl);
                            transform: scale(1.02);
                        }
                        100% {
                        }
                    }
                }
            }

            &.maxLevel {
                button.buy {
                    opacity: 0 !important;
                }
                .requirements {
                    display: none;
                }
                .description {
                    color: $colorGreenBright;
                }
            }
        }
    }
}
