@use "sass:color";

#ingame_HUD_Statistics {
    .content {
        width: 50rem;
    }

    .filterHeader {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        justify-items: end;

        button {
            height: 2rem;
            padding: 0.1rem 1rem;
            border: 0;
            box-shadow: none;
            min-width: 3rem;
            color: #fff;
            opacity: 0.25;
            border-radius: $globalBorderRadius;

            border-radius: 0;
            &:first-child {
                border-top-left-radius: $globalBorderRadius;
                border-bottom-left-radius: $globalBorderRadius;
            }

            &:last-child {
                border-top-right-radius: $globalBorderRadius;
                border-bottom-right-radius: $globalBorderRadius;
            }

            &.displayIcons,
            &.displayDetailed,
            &.displaySorted,
            &.displayIterateUnit {
                background: transparent center center / 1.5rem no-repeat;
            }

            &.displayDetailed {
                /* @load-async */
                background-image: uiResource("icons/display_list.png");
            }

            &.displayIcons {
                /* @load-async */
                background-image: uiResource("icons/display_icons.png");
                background-size: 1.15rem;
            }

            &.displayDetailed {
                border-top-left-radius: $globalBorderRadius;
                border-bottom-left-radius: $globalBorderRadius;
            }

            &.displaySorted {
                & {
                    /* @load-async */
                    background-image: uiResource("icons/display_sorted.png");
                }
                background-size: 1.15rem;
                margin-right: 5px;
                border-top-right-radius: $globalBorderRadius;
                border-bottom-right-radius: $globalBorderRadius;

                padding: 0.1rem 0;
            }

            &.displayIterateUnit {
                & {
                    /* @load-async */
                    background-image: uiResource("icons/toggle_unit.png");
                }
                opacity: 0.8;
                padding: 0.1rem 0;
            }

            background-color: #44484a !important;
            transition: opacity 0.2s ease-in-out;

            @include DarkThemeOverride {
                background-color: color.adjust($darkModeControlsBackground, $lightness: 10%, $space: hsl) !important;
            }
        }

        .filtersDataSource,
        .filtersDisplayMode {
            display: flex;
            padding: 0;
            margin: 0;

            :first-child {
                margin-left: 0 !important;
            }
            :last-child {
                margin-right: 0 !important;
            }
        }
    }

    .sourceExplanation {
        @include SuperSmallText();
        margin-top: 0.5rem;
        color: #aaa;
    }

    .content {
        margin-top: 1rem;
        height: 35rem;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;

        justify-content: flex-start;

        padding-right: 0.4rem;

        > .noEntries {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include PlainText;
            color: #aaa;
        }

        > div {
            background: #f4f4f4;
            margin-bottom: 0.4rem;
            display: grid;
            border-radius: $globalBorderRadius;

            grid-template-columns: 1fr auto;
            padding: 0.5rem;
            &:last-child {
                margin-bottom: 0;
            }

            &.pinned {
                background: #e3e5e9;
            }

            @include DarkThemeOverride {
                background: $darkModeControlsBackground;

                &.pinned {
                    background: mix($darkModeControlsBackground, $colorBlueBright, 90%);
                }
            }

            canvas.icon {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                width: 4rem;
                height: 4rem;
            }

            .counter {
                @include SuperSmallText;
                padding: 0, 0.3rem;
            }
        }
    }

    .dialogInner {
        &[data-displaymode="detailed"] .displayDetailed,
        &[data-displaymode="icons"] .displayIcons,
        &[data-sorted="true"] .displaySorted,
        &[data-datasource="produced"] .modeProduced,
        &[data-datasource="delivered"] .modeDelivered,
        &[data-datasource="stored"] .modeStored {
            opacity: 1;
        }

        &[data-displaymode="icons"] .content.hasEntries {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-auto-rows: 7.3rem;
            align-items: flex-start;
            grid-column-gap: 0.3rem;
            > div {
                grid-row-gap: 0.5rem;
                height: 6rem;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr auto;
                place-items: center;

                .counter {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                    justify-self: end;
                    color: #55595a;

                    @include DarkThemeOverride {
                        color: #aaa;
                    }
                }
            }
        }
        &[data-displaymode="detailed"] .content.hasEntries {
            > div {
                padding: 1rem;
                height: 4rem;
                grid-template-columns: auto 1fr auto;
                grid-column-gap: 1.5rem;

                .counter {
                    grid-column: 3 / 4;
                    grid-row: 1 / 2;
                    @include Heading;
                    align-self: center;
                    text-align: right;
                    color: #55595a;

                    @include DarkThemeOverride {
                        color: #aaa;
                    }
                }

                canvas.graph {
                    width: 27rem;
                    height: 4rem;
                    border-radius: 0 0 0.2rem 0.2rem;
                    $color: rgba(0, 10, 20, 0.04);
                    // background: $color;
                    border: 0.4rem solid transparent;
                    margin-top: -0.3rem;
                }
            }
        }
    }
}
