#ingame_HUD_Waypoints_Hint {
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    display: flex;
    flex-direction: column;

    @include PlainText;
    width: 15rem;
    background: $ingameHudBg;
    padding: 0.7rem;

    color: #eee;
    border-radius: $globalBorderRadius;

    .desc {
        @include SuperSmallText;
        color: #babcbf;

        strong {
            color: #fff;
        }
    }
}

#ingame_HUD_Waypoints {
    position: absolute;
    right: 1rem;
    top: 4.5rem;
    display: flex;
    flex-direction: column;
    @include DarkThemeInvert();

    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: all;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    // Scrollbar
    &::-webkit-scrollbar {
        width: 0.2rem;
        height: 0.6rem;
    }

    .waypoint {
        @include SuperSmallText;
        pointer-events: all;
        cursor: pointer;
        color: #333438;
        padding-left: 1.1rem;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        & {
            /* @load-async */
            background: uiResource("icons/waypoint.png") left 50% / 0.8rem no-repeat;
        }

        &.layer--wires {
            /* @load-async */
            background-image: uiResource("icons/waypoint_wires.png");
        }

        opacity: 0.7;
        margin-bottom: 0.1rem;
        font-weight: bold;

        &:hover {
            opacity: 0.8;
        }

        .editButton {
            width: 1rem;
            height: 1rem;
            margin-left: 0.4rem;
            & {
                /* @load-async */
                background: uiResource("icons/edit_key.png") center center / 70% no-repeat;
            }
            pointer-events: all;
            cursor: pointer;
            position: relative;
            transition: transform 0.04s ease-in-out;

            &:hover {
                transform: scale(1.5);
            }
        }

        &.hub {
            // Transform because there is a canvas before
            margin-left: -0.2rem;

            grid-template-columns: auto 1fr;
            background: none !important;
            padding-left: 0;
            canvas {
                width: 1.2rem;
                height: 1.2rem;
                margin-right: 0.1rem;
            }
        }

        &.shapeIcon {
            canvas {
                width: 1.5rem;
                height: 1.5rem;
                pointer-events: none;
                // Double invert, to make sure it has the right color
                @include DarkThemeInvert();
            }
        }
    }
}
