#state_AboutState {
    > .container .content {
        max-width: 60rem;
        @include PlainText;
        padding: 0;
        background: transparent;
    }

    .head {
        padding: 2rem;

        img {
            display: block;
            margin: 0 auto;
            max-width: 20rem;
        }
    }

    .text {
        margin: 1rem;
    }

    a {
        margin: 0 0.3rem;
    }
}
