@use "../mixins" as *;
@use "../variables" as *;

@use "sass:color";

#state_InGameState {
    .gameLoadingOverlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        align-items: center;
        justify-content: center;
        pointer-events: all;
        display: flex;
        background: $mainBgColor;
        flex-direction: column;
    }

    .prefab_GameHint {
        position: absolute;
        bottom: 4rem;
        left: 2rem;
        right: 2rem;
        @include PlainText;
        text-align: center;

        color: #666;

        @include DarkThemeOverride() {
            color: color.adjust($darkModeGameBackground, $lightness: 50%, $space: hsl);
        }
    }

    #ingame_Canvas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    #ingame_HUD_ModalDialogs {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    @include DarkThemeOverride {
        .gameLoadingOverlay {
            background: $darkModeGameBackground;
        }
    }
}
