@use "../mixins" as *;
@use "../ui_resource" as *;
@use "../variables" as *;

@use "sass:color";

#state_KeybindingsState {
    .content {
        .topEntries {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-gap: 0.5rem;
            margin-bottom: 1rem;
        }

        .hint {
            display: block;
            background: #eee;
            padding: 0.6rem 1rem;
            @include PlainText;
            border-radius: $globalBorderRadius;
        }

        .category {
            .entry {
                display: grid;
                margin-top: 0.2rem;
                padding-top: 0.2rem;
                grid-gap: 0.4rem;
                grid-template-columns: 1fr 10rem auto auto;
                border-bottom: 0.1rem dotted #eee;
                color: #888c8f;
                .mapping {
                    color: $colorBlueBright;
                    text-align: center;
                }

                button {
                    height: 1.5rem;
                    width: 1.5rem;
                    background: transparent center center / 40% no-repeat;
                    opacity: 0.9;
                    &.editKeybinding {
                        background-image: uiResource("icons/edit_key.png");
                    }

                    &.resetKeybinding {
                        background-image: uiResource("icons/reset_key.png");
                    }

                    &.disabled {
                        pointer-events: none;
                        cursor: default;
                        opacity: 0.1 !important;
                    }
                }
            }
        }
    }

    @include DarkThemeOverride {
        .content {
            .hint {
                background: color.adjust($darkModeControlsBackground, $lightness: -4%, $space: hsl);
            }

            .category .entry {
                color: #c0c4c8;
                border-bottom-color: #888;

                button {
                    filter: invert(1);
                }
            }
        }
    }
}
