@use "sass:color";

#state_ModsState {
    // TODO: Update dimensions to use less build-time logic
    .modsGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .modsGrid.noMods {
        grid-template-columns: unset;
        place-items: center;
    }

    .mod {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;

        border-radius: 0.4rem;
        background: #eee;

        @include DarkThemeOverride {
            background: color.adjust($darkModeControlsBackground, $lightness: 5%, $space: hsl);
        }
    }

    .mod > .title {
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .mod > .description {
        @include PlainText();
    }

    .mod > .advanced {
        @include PlainText();
        color: $accentColorDark;
    }
}
