#state_ModsState {
    .modsGrid {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        > h1 {
            justify-self: start;
        }

        .openModsFolder {
            background-color: $modsColor;
        }
    }

    .modsStats {
        @include PlainText;

        .title b {
            @include Text;
        }

        .advanced {
            @include SuperSmallText;
        }

        @include DarkThemeOverride {
            background-color: $darkModeGameBackground;
        }
    }
}
