#state_PreloadState {
    .changelogDialogEntry {
        margin-top: 1rem;

        width: 100%;
        flex-direction: column;
        text-align: left;
        padding: 10px;
        box-sizing: border-box;
        background: #eef1f4;
        border-radius: $globalBorderRadius;

        @include DarkThemeOverride {
            background: #33343c;
        }

        .version {
            @include Heading;
        }
        .date {
            @include PlainText;
            &::before {
                content: " | ";
            }
            color: #aaabaf;
        }

        .changes {
            @include PlainText;
            padding-left: 1.5rem;
            margin-top: 1rem;
            strong {
                background: $colorBlueBright;
                color: #fff;
                text-transform: uppercase;
                padding: 0.1rem 0.2rem;
                margin-right: 0.3rem;
            }
            a {
                color: $colorBlueBright;
            }
            li {
                @include SuperSmallText;
                margin-bottom: 0.5rem;
            }
        }
    }

    /* Animations */
    .status {
        transform: scale(0.7);
        opacity: 0;
        @include StateAnim(transform, opacity);
    }

    &.arrived {
        .status {
            opacity: 1;
            transform: none;
        }
    }
}
