@use "../mixins" as *;
@use "../ui_resource" as *;
@use "../variables" as *;

#state_PuzzleMenuState {
    > .headerBar {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        > h1 {
            justify-self: start;
        }

        .createPuzzle {
            background-color: $colorGreenBright;
            margin-left: 0.5rem;
        }
    }

    > .container {
        .searchForm {
            display: flex;
            align-items: center;
            justify-content: center;

            color: #333;
            background: $accentColorBright;
            padding: 0.5rem;
            border-radius: $globalBorderRadius;
            flex-wrap: wrap;

            @include DarkThemeOverride {
                background: $accentColorDark;
            }

            input.search {
                color: #333;
                margin: 0;
                display: inline-block;
                flex-grow: 1;
                padding: 0.5rem 1rem;
                min-width: 5rem;

                &::placeholder {
                    color: #aaa;
                }
            }

            select {
                color: #333;
                border: 0;
                padding: 0.5rem;
                border-radius: $globalBorderRadius;
                padding: 0.7rem 1rem;
                margin-left: 0.5rem;
                @include PlainText;
            }

            .filterCompleted {
                margin-left: 2rem;
                pointer-events: all;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                @include PlainText;
                margin-right: 1rem;

                @include DarkThemeOverride {
                    color: #bbbbc4;
                }

                input {
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: 0.5rem;
                    border-radius: $globalBorderRadius;
                    border: 0;
                }
            }

            button[type="submit"] {
                padding: 0.7rem 1rem 0.5rem;
                margin-left: 2rem;
                margin-top: 0.4rem;
                margin-bottom: 0.4rem;
                margin-left: auto;
            }
        }

        > .mainContent {
            overflow: hidden;
            display: flex;
            flex-direction: column;

            > .categoryChooser {
                > .categories {
                    display: grid;
                    grid-auto-columns: 1fr;
                    grid-auto-flow: column;
                    grid-gap: 0.2rem;
                    padding-right: 1rem;
                    margin-bottom: 0.5rem;

                    .category {
                        background: $accentColorBright;
                        border-radius: 0;
                        color: $accentColorDark;
                        transition: all 0.12s ease-in-out;
                        transition-property: opacity, background-color, color;

                        &:first-child {
                            border-top-left-radius: $globalBorderRadius;
                            border-bottom-left-radius: $globalBorderRadius;
                        }
                        &:last-child {
                            border-top-right-radius: $globalBorderRadius;
                            border-bottom-right-radius: $globalBorderRadius;
                        }

                        &.active {
                            background: $colorBlueBright;
                            opacity: 1 !important;
                            color: #fff;
                            cursor: default;
                        }

                        @include DarkThemeOverride {
                            background: $accentColorDark;
                            color: #bbbbc4;

                            &.active {
                                background: $colorBlueBright;
                                color: #fff;
                            }
                        }

                        &.root {
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                            @include Text;
                        }
                        &.child {
                            @include PlainText;
                        }
                    }
                }
            }

            > .puzzles {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
                grid-auto-rows: 6.5rem;
                grid-gap: 0.7rem;
                margin-top: 1rem;
                padding-right: 0.4rem;
                overflow-y: scroll;
                flex-grow: 1;
                pointer-events: all;
                position: relative;

                > .puzzle {
                    width: 100%;
                    height: 6.5rem;
                    background: #f3f3f8;
                    border-radius: $globalBorderRadius;

                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-template-rows: 1.5rem 1.5rem 1fr;
                    padding: 0.5rem;
                    grid-column-gap: 0.5rem;
                    box-sizing: border-box;
                    pointer-events: all;
                    cursor: pointer;
                    position: relative;
                    padding-left: 1rem;

                    @include DarkThemeOverride {
                        background: rgba(0, 0, 10, 0.2);
                    }

                    @include InlineAnimation(0.12s ease-in-out) {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }

                    &:hover {
                        background: #f0f0f8;
                    }

                    > .title {
                        grid-column: 2 / 3;
                        grid-row: 1 / 2;
                        @include PlainText;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        align-self: center;
                        justify-self: start;
                        width: 100%;
                        box-sizing: border-box;
                        padding: 0.2rem 0.5rem;
                        height: 1.7rem;
                    }

                    > .author {
                        grid-column: 2 / 2;
                        grid-row: 2 / 3;
                        @include SuperSmallText;
                        color: $accentColorDark;
                        align-self: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding: 0.2rem 0.5rem;
                    }

                    > .icon {
                        grid-column: 1 / 2;
                        grid-row: 1 / 4;
                        align-self: center;
                        justify-self: center;
                        width: 4.5rem;
                        height: 4.5rem;

                        canvas {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    > button.delete {
                        position: absolute;
                        top: 0.5rem;
                        right: 0.5rem;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 70%;
                        background-color: transparent !important;
                        width: 2rem;
                        height: 2rem;
                        padding: 0;
                        opacity: 0.7;
                        @include DarkThemeInvert;

                        & {
                            background-image: uiResource("icons/delete.png") !important;
                        }
                    }

                    > .stats {
                        grid-column: 2 / 3;
                        grid-row: 3 / 4;
                        display: flex;
                        align-items: center;
                        justify-self: end;
                        justify-content: center;
                        align-self: end;
                        height: 1.4rem;

                        > .downloads {
                            @include SuperSmallText;
                            color: #000;
                            font-weight: bold;
                            margin-right: 0.5rem;
                            padding-left: 1.2rem;
                            opacity: 0.7;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            @include DarkThemeInvert;

                            & {
                                background: uiResource("icons/puzzle_plays.png") 0.2rem 0.25rem / 0.8rem
                                    0.8rem no-repeat;
                            }
                        }

                        > .likes {
                            @include SuperSmallText;
                            align-items: center;
                            justify-content: center;
                            color: #000;
                            font-weight: bold;
                            padding-left: 1.4rem;
                            opacity: 0.7;
                            @include DarkThemeInvert;

                            & {
                                background: uiResource("icons/puzzle_upvotes.png") 0.2rem 0.24rem / 0.9rem
                                    0.9rem no-repeat;
                            }
                        }

                        > .difficulty {
                            @include SuperSmallText;
                            align-items: center;
                            justify-content: center;
                            color: #000;
                            font-weight: bold;
                            margin-right: 0.3rem;
                            opacity: 0.7;
                            text-transform: uppercase;

                            &.stage--easy {
                                color: $colorGreenBright;
                            }
                            &.stage--medium {
                                color: $colorOrangeBright;
                            }
                            &.stage--hard {
                                color: $colorRedBright;
                            }
                            &.stage--unknown {
                                color: #888;
                            }
                        }
                    }

                    &.completed {
                        > .icon,
                        > .stats,
                        > .author,
                        > .title {
                            opacity: 0.3;
                        }

                        background: #fafafa;

                        @include DarkThemeOverride {
                            background: rgba(0, 0, 0, 0.05);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: 1rem;
                            right: 1rem;
                            width: 3rem;
                            height: 3rem;
                            opacity: 0.1;

                            & {
                                background: uiResource("icons/puzzle_complete_indicator.png") center center /
                                    contain no-repeat;
                            }
                        }
                        @include DarkThemeOverride {
                            &::after {
                                background: uiResource("icons/puzzle_complete_indicator_inverse.png") center
                                    center / contain no-repeat;
                            }
                        }
                    }
                }

                > .loader,
                > .empty {
                    display: flex;
                    align-items: center;
                    color: $accentColorDark;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}
