@use "sass:color";

// Common classes and style
* {
    margin: 0;
    padding: 0;
    touch-action: pan-x pan-y;
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html,
body {
    overscroll-behavior: contain;
    overflow: hidden;
    font-family: $mainFont;
    font-synthesis: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html {
    background: $mainBgColor;
    @include DarkThemeOverride {
        background: $darkModeGameBackground;
    }
}

body {
    color: #555;
    user-select: none;
    background: inherit;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    @include Text;
}

i {
    font-style: normal;
}

b,
strong {
    font-weight: normal;
}

u,
a {
    text-decoration: none;
}

input,
textarea,
select {
    font-size: inherit;
    line-height: inherit;
}

button {
    background: transparent;
    border: 0;
    pointer-events: all;
    cursor: pointer;
    position: relative;
    color: $legacyTextShadow3DColor;
}

.styledButton {
    text-transform: uppercase;
    box-sizing: content-box;
    padding: 0.3rem 1rem;
    @include ButtonText;
    border: 0;
    background: $colorBlueBright;
    color: #fff;
    border-radius: 0.8 * $globalBorderRadius;
    transition: opacity 0.12s ease-in-out;

    kbd {
        position: absolute;
        bottom: -0.25rem;
        right: -0.2rem;
    }

    &:hover {
        opacity: 0.9;
    }
}

::selection {
    background: $colorGreenBright;
    /* WebKit/Blink Browsers */
}

input[type="text"],
input[type="email"] {
    padding: 1.1rem 1.2rem;
    margin: 1rem 0;
    border: 0;
    display: block;
    text-align: left;
    box-sizing: border-box;
    background: color.adjust($mainBgColor, $lightness: 8%, $space: hsl);
    color: #eee;
    text-align: left;
    user-select: text !important;
    pointer-events: all !important;
    @include Text;
    border-radius: $globalBorderRadius;
    &::placeholder {
        color: #fff;
        opacity: 0.4;
    }
    transition: background-color 0.1s ease-in-out !important;
    color: #fff;
    @include BoxShadow3D(color.adjust($mainBgColor, $lightness: 30%, $space: hsl));
    &:focus {
        @include BoxShadow3D(color.adjust($mainBgColor, $lightness: 35%, $space: hsl));
    }
    &.errored {
        @include BoxShadow3D(mix(color.adjust($mainBgColor, $lightness: 30%, $space: hsl), #f77, 25%));
        &:focus {
            @include BoxShadow3D(mix(color.adjust($mainBgColor, $lightness: 50%, $space: hsl), #f77, 25%));
        }
    }
    &.input-token {
        @include SuperHeading;
        text-align: center;
        letter-spacing: 3rem;
        padding-left: 3rem;
    }
}

a {
    color: $themeColor;
}

button,
input,
select,
textarea,
a {
    &:focus {
        outline: none;
    }
    font-family: inherit;
    font-weight: inherit;
    pointer-events: all;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}

input {
    user-select: text;
    pointer-events: all;
    border-radius: 0;
}

canvas {
    pointer-events: all;
    transform: translateZ(0);
    backface-visibility: hidden;
}

// Scrollbar
::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}

::-webkit-scrollbar-track {
    background: rgba(#000, 0.05);
}

::-webkit-scrollbar-thumb {
    // border-radius: 4px;
    border-radius: $globalBorderRadius;
    background: #cdd0d4;
}

::-webkit-scrollbar-thumb:hover {
    background: #d8dce0;
}

.pressed:not(.noPressEffect) {
    transform: scale(0.98) !important;
    animation: none !important;
}

.pressedSmallElement:not(.noPressEffect) {
    transform: scale(0.88) !important;
    animation: none !important;
}

.spritesheetImage {
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 1;
}

.inlineTextIconSprite {
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.prefab_LoadingTextWithAnim {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    @include Text;
    color: $legacyTextShadow3DColor;
    opacity: 1;
    z-index: 20;
    color: #393747;
    &::after {
        content: " ";
        width: 3.5rem;
        height: 3.5rem;
        display: inline-block;
        vertical-align: middle;

        & {
            background: uiResource("loading.svg") center center / contain no-repeat;
        }
    }

    @include InlineAnimation(1.5s ease-in-out infinite) {
        50% {
            transform: scale(1.2) rotate(160deg);
        }
    }

    @include DarkThemeOverride {
        color: #fff;
    }
}

.prefab_LoadingProgressIndicator {
    @include PlainText;
    margin-top: 2rem;
    width: 100%;
    color: #336c9f;
    height: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.gameState.prefab_LoadingState {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .loadingImage {
        width: 100%;
        display: flex;
        flex-grow: 1;

        @include InlineAnimation(1.5s ease-in-out infinite) {
            50% {
                transform: scale(1.2) rotate(160deg);
            }
        }

        & {
            background: uiResource("loading.svg") center center / 4rem no-repeat;
        }
    }

    .prefab_GameHint {
        position: absolute;
        left: 2rem;
        right: 2rem;
        bottom: 6rem;
        @include Text;
        color: #666;

        @include DarkThemeOverride() {
            color: color.adjust($darkModeGameBackground, $lightness: 50%, $space: hsl);
        }
    }

    .loadingStatus {
        position: absolute;
        left: 2rem;
        right: 2rem;
        bottom: 3rem;
        @include Text;
        @include PlainText;
        color: #aaa;

        @include DarkThemeOverride {
            color: color.adjust($darkModeGameBackground, $lightness: 20%, $space: hsl);
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > .bar {
            display: none;
            margin-top: 1.5rem;
            width: 80vw;
            @include BoxShadow3D(color.adjust($mainBgColor, $lightness: 10%, $space: hsl), $size: 1px);
            position: relative;
            color: #fff;
            height: 2px;
            .inner {
                position: absolute !important;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 1;
                @include BoxShadow3D($themeColor, $size: 1px);
                border-radius: $globalBorderRadius;
                transform-origin: 0% 50%;
                @include InlineAnimation(1.3s ease-in-out infinite) {
                    0% {
                        background-color: color.adjust($themeColor, $lightness: -5%, $space: hsl);
                        transform: none;
                    }
                    50% {
                        background-color: color.adjust($themeColor, $lightness: 10%, $space: hsl);
                        transform: scale(1.01);
                    }
                    100% {
                        background-color: color.adjust($themeColor, $lightness: -5%, $space: hsl);
                        transform: none;
                    }
                }
            }
            .status {
                display: none;
                position: relative;
                z-index: 2;
                display: inline-flex;
                padding: 0.5rem;
                @include PlainText;
            }
        }
    }
}

.grow {
    flex-grow: 1;
}

.checkbox {
    $bgColor: color.adjust($mainBgColor, $lightness: -3%, $space: hsl);
    background-color: $bgColor;
    width: 3.5rem;
    height: 1.7rem;
    display: flex;
    padding: 0.3rem;
    box-sizing: content-box;
    cursor: pointer;
    pointer-events: all;
    transition:
        opacity 0.2s ease-in-out,
        background-color 0.3s ease-in-out,
        box-shadow 0.4s ease-in-out !important;
    position: relative;
    border-radius: 2rem;
    @include BoxShadow3D($bgColor, $size: 2px);
    &.loading {
        opacity: 0.2;
    }
    &:hover {
        background-color: color.adjust($bgColor, $lightness: -5%, $space: hsl);
    }
    .knob {
        width: 2rem;
        height: 1.7rem;
        display: inline-block;
        transition: margin-left 0.4s ease-in-out !important;
        background: #fff;
        position: relative;
        border-radius: 2rem;
        @include BoxShadow3D(#fff, $size: 1px);
    }
    &.checked {
        background-color: $themeColor;
        @include BoxShadow3D($themeColor, $size: 2px);
        .knob {
            margin-left: 1.5rem;
        }
        &:hover {
            background-color: color.adjust($themeColor, $lightness: 15%, $space: hsl);
        }
    }

    @include DarkThemeOverride {
        background-color: $darkModeGameBackground !important;
        &.checked {
            background-color: $colorBlueBright !important;
        }
    }
}

.rangeInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    label {
        margin-right: 0.5rem;
        &,
        & * {
            @include PlainText;
        }
    }
}

input.rangeInput {
    cursor: pointer;
    background-color: transparent;
    width: 10rem;
    height: 1.6rem;

    &::-webkit-slider-runnable-track {
        background-color: color.adjust($mainBgColor, $lightness: -3%, $space: hsl);
        color: color.adjust($mainBgColor, $lightness: -3%, $space: hsl);
        // height: 1.6rem;
        border-radius: 0.8rem;
    }

    @include DarkThemeOverride {
        &::-webkit-slider-runnable-track {
            background-color: $darkModeControlsBackground;
        }

        &::-webkit-slider-thumb {
            box-shadow: inset 0 0 0 1rem #eee;
        }
    }

    &::-webkit-slider-thumb {
        appearance: none;
        box-shadow: inset 0 0 0 1rem $themeColor;
        border-radius: 50%;

        transition: box-shadow 0.3s;
    }

    &:hover {
        &::-webkit-slider-thumb {
            box-shadow: inset 0 0 0 1rem color.adjust($themeColor, $lightness: 15%, $space: hsl);
        }
    }
}

// FIXME: Translations are still using code.keybinding instead of kbd
kbd,
.keybinding {
    background: #fff;
    text-transform: uppercase;
    font-family: inherit;
    padding: 0.15rem 0.3rem 0.2rem;
    @include PlainText;
    border-radius: 0.5 * $globalBorderRadius;
    &,
    > span {
        font-size: 0.9rem;
        line-height: 1.1rem;
    }

    color: $accentColorDark;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width: 1.2rem;
    display: inline-flex;
    z-index: 999;
    box-sizing: border-box;
    height: 1.2rem;
    overflow: hidden;
    border: 0rem solid $accentColorDark;
}

iframe {
    pointer-events: all;
    user-select: all;
}
