@use "resources";

@use "common";
@use "game_state";
@use "textual_game_state";
@use "error_handler";

@use "states/preload";
@use "states/main_menu";
@use "states/ingame";
@use "states/keybindings";
@use "states/settings";
@use "states/about";
@use "states/changelog";
@use "states/puzzle_menu";
@use "states/mods";

@use "ingame_hud/buildings_toolbar";
@use "ingame_hud/building_placer";
@use "ingame_hud/beta_overlay";
@use "ingame_hud/keybindings_overlay";
@use "ingame_hud/unlock_notification";
@use "ingame_hud/shop";
@use "ingame_hud/game_menu";
@use "ingame_hud/dialogs";
@use "ingame_hud/vignette_overlay";
@use "ingame_hud/statistics";
@use "ingame_hud/pinned_shapes";
@use "ingame_hud/notifications";
@use "ingame_hud/settings_menu";
@use "ingame_hud/debug_info";
@use "ingame_hud/entity_debugger";
@use "ingame_hud/tutorial_hints";
@use "ingame_hud/blueprint_placer";
@use "ingame_hud/waypoints";
@use "ingame_hud/interactive_tutorial";
@use "ingame_hud/color_blind_helper";
@use "ingame_hud/shape_viewer";
@use "ingame_hud/sandbox_controller";
@use "ingame_hud/puzzle_back_to_menu";
@use "ingame_hud/puzzle_editor_review";
@use "ingame_hud/puzzle_dlc_logo";
@use "ingame_hud/puzzle_editor_controls";
@use "ingame_hud/puzzle_editor_settings";
@use "ingame_hud/puzzle_play_settings";
@use "ingame_hud/puzzle_play_metadata";
@use "ingame_hud/puzzle_complete_notification";
@use "ingame_hud/puzzle_next";

// prettier-ignore
$elements:
// Base
ingame_Canvas,
ingame_VignetteOverlay,
ingame_HUD_PuzzleDLCLogo,

// Ingame overlays
ingame_HUD_Waypoints,
ingame_HUD_PlacementHints,
ingame_HUD_PlacerVariants,

// Regular hud
ingame_HUD_PinnedShapes,
ingame_HUD_GameMenu,
ingame_HUD_KeybindingOverlay,
ingame_HUD_PuzzleBackToMenu,
ingame_HUD_PuzzleNextPuzzle,
ingame_HUD_PuzzleEditorReview,
ingame_HUD_PuzzleEditorControls,
ingame_HUD_PuzzleEditorTitle,
ingame_HUD_PuzzleEditorSettings,
ingame_HUD_PuzzlePlaySettings,
ingame_HUD_PuzzlePlayMetadata,
ingame_HUD_PuzzlePlayTitle,
ingame_HUD_Notifications,
ingame_HUD_DebugInfo,
ingame_HUD_EntityDebugger,
ingame_HUD_TutorialHints,
ingame_HUD_InteractiveTutorial,
ingame_HUD_BuildingsToolbar,
ingame_HUD_wires_toolbar,
ingame_HUD_BlueprintPlacer,
ingame_HUD_Waypoints_Hint,
ingame_HUD_WatermarkClicker,
ingame_HUD_ColorBlindBelowTileHelper,
ingame_HUD_SandboxController,

// Overlays
ingame_HUD_BetaOverlay,

// Dialogs
ingame_HUD_Shop,
ingame_HUD_Statistics,
ingame_HUD_ShapeViewer,
ingame_HUD_UnlockNotification,
ingame_HUD_PuzzleCompleteNotification,
ingame_HUD_SettingsMenu,
ingame_HUD_ModalDialogs;

$zindex: 100;

@each $elem in $elements {
    ##{$elem} {
        z-index: $zindex;
    }

    $zindex: $zindex + 10;
}

body.uiHidden {
    > div:not(.ingameDialog):not(#ingame_HUD_SettingsMenu):not(#ingame_HUD_ModalDialogs):not(
            #ingame_HUD_UnlockNotification
        ):not(#ingame_HUD_PuzzleCompleteNotification) {
        display: none !important;
    }
}
