@use "mixins" as *;
@use "ui_resource" as *;
@use "variables" as *;

.gameState.textualState {
    display: grid;
    grid-template-rows: auto 1fr;
    box-sizing: border-box;
    padding: 3.2rem;
    height: 100vh;

    .headerBar {
        display: flex;

        h1 {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            pointer-events: all;
            cursor: pointer;
            @include SuperHeading;
            text-transform: uppercase;
            color: #333438;
            position: relative;
        }

        .backButton {
            width: 3rem;
            height: 3rem;
            margin-right: 1rem;
            margin-left: -0.5rem;
            & {
                background: uiResource("icons/state_back_button.png") center center / 70% no-repeat;
            }
        }
        margin-bottom: 2rem;
    }

    > .container {
        display: flex;
        justify-content: center;
        width: 100%;
        overflow-y: auto;

        > .content {
            width: 100%;
            background: #fff;
            border-radius: $globalBorderRadius;
            padding: 1rem;
            height: 100%;
            overflow-y: auto;
            box-sizing: border-box;
            pointer-events: all;

            a {
                color: $colorBlueBright;
            }

            .categoryLabel {
                display: block;
                text-transform: uppercase;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                @include Heading;
            }
        }
    }

    @include DarkThemeOverride {
        .headerBar {
            h1 {
                color: #e2e0db;
            }

            .backButton {
                filter: invert(1);
            }
        }

        > .container > .content {
            background: $darkModeControlsBackground;
            color: #eee;
        }
    }
}
