@use "sass:color";

$globalBorderRadius: 0.6rem;

// Font sizes and line heights
$superHeadingFontSize: 2.5rem;
$superHeadingLineHeight: 2.4rem;

$headingFontSize: 1.9rem;
$headingLineHeight: 2.1rem;

$textFontSize: 1.6rem;
$textLineHeight: 2.1rem;

$plainTextFontSize: 1.3rem;
$plainTextLineHeight: 1.7rem;

$superDuperSmallTextFontSize: 0.8rem;
$superDuperSmallTextLineHeight: 0.9rem;
$superSmallTextFontSize: 1rem;
$superSmallTextLineHeight: 1.3rem;
$buttonFontSize: 1.4rem;
$buttonLineHeight: 1.8rem;

// Main background color
$mainBgColor: #dee1ea;

// Accent colors

$accentColorBright: #e1e4ed;
$accentColorDark: #7d808a;
$colorGreenBright: #66bb6a;
$colorBlueBright: rgb(74, 151, 223);
$colorRedBright: #ef5072;
$colorOrangeBright: #ef9d50;
$themeColor: #393747;
$ingameHudBg: rgba(#33343b, 0.9);
$modsColor: rgb(214, 60, 228);

$darkModeGameBackground: #535866;
$darkModeControlsBackground: color.adjust($darkModeGameBackground, $lightness: -5, $space: hsl);

// Dialog properties
$modalDialogBg: rgba(160, 165, 180, 0.8);
$dialogBgColor: color.adjust($mainBgColor, $lightness: 10, $space: hsl);

// Poppins 500
// Rubik 400
// Cairo 400
// Viga 400
// Sniglet 400

$mainFont: "GameFont", sans-serif;
// $mainFont: "DK Canoodle";
// $mainFont: "MADE Florence Sans";

@mixin DebugText($color) {
    // font-size: 3px;
    // &,
    // * {
    //   color: $color !important;
    // }
}

@mixin SuperDuperSmallText {
    font-size: $superDuperSmallTextFontSize;
    line-height: $superDuperSmallTextLineHeight;
    @include DebugText(green);
}

@mixin SuperSmallText {
    font-size: $superSmallTextFontSize;
    line-height: $superSmallTextLineHeight;
    @include DebugText(green);
}

@mixin PlainText {
    font-size: $plainTextFontSize;
    line-height: $plainTextLineHeight;
    @include DebugText(red);
}

@mixin Text {
    font-size: $textFontSize;
    line-height: $textLineHeight;
    @include DebugText(blue);
}

@mixin Heading {
    font-size: $headingFontSize;
    line-height: $headingLineHeight;
    @include DebugText(yellow);
}

@mixin SuperHeading {
    font-size: $superHeadingFontSize;
    line-height: $superHeadingLineHeight;
    @include DebugText(orange);
}

@mixin ButtonText {
    font-size: $buttonFontSize;
    line-height: $buttonLineHeight;
    @include DebugText(purple);
}
